<div class="flex justify-content-center align-items-center flex-column w-full">
    <div class="flex flex-column w-5 p-3">
        <label for="">El nombre del gerente</label>
        <div class="p-field p-input-icon-left mt-3">
            <i class="pi pi-lightbulb"></i>
            <input type="text" class="w-full" [(ngModel)]="nameAgent" pInputText>
        </div>
    </div>
    <div class="flex flex-column w-5 p-3">
        <label for="">Correo electrónico del gerente</label>
        <div class="p-field p-input-icon-left mt-3">
            <i class="pi pi-envelope"></i>
            <input type="text" class="w-full" [(ngModel)]="nameAgent" pInputText>
        </div>
    </div>
</div>
