USE [dbtest]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/11/2024 11:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[correo] [nvarchar](50) NULL,
	[telefono] [nvarchar](10) NULL,
	[namegerente] [nvarchar](50) NULL,
	[correogerente] [nvarchar](50) NULL,
	[fechainicio] [date] NULL,
	[fechafin] [date] NULL,
	[notas] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
