USE [registros]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/11/2024 11:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[correo] [nvarchar](50) NULL,
	[telefono] [nvarchar](10) NULL,
	[namegerente] [nvarchar](50) NULL,
	[correogerente] [nvarchar](50) NULL,
	[fechainicio] [date] NULL,
	[fechafin] [date] NULL,
	[notas] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [lastname], [correo], [telefono], [namegerente], [correogerente], [fechainicio], [fechafin], [notas]) VALUES (1, N'Deiby Alejandro', N'Delgado', N'deibyalejandro@gmail.com', N'3154887457', N'Timo', N'timo@hoe.co', CAST(N'2024-11-16' AS Date), CAST(N'2024-11-16' AS Date), N'Ninguna')
INSERT [dbo].[Users] ([id], [username], [lastname], [correo], [telefono], [namegerente], [correogerente], [fechainicio], [fechafin], [notas]) VALUES (2, N'Deiby', N'Alejandro', N'deiby@s', N'3154887457', N'Poo', N'poo@kin', CAST(N'2000-02-03' AS Date), CAST(N'2001-12-11' AS Date), N'Nada')
INSERT [dbo].[Users] ([id], [username], [lastname], [correo], [telefono], [namegerente], [correogerente], [fechainicio], [fechafin], [notas]) VALUES (3, N'Julian', N'Alvarez', N'deiby@s', N'3154887457', N'Poso', N'poo@kin', CAST(N'2000-02-03' AS Date), CAST(N'2001-12-11' AS Date), N'Nada')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
