<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>
    <!-- PRIMERA PARTE DEL TRABAJO -->
    <h2 class="title_h2">Primera parte del trabajo</h2>
    <p class="p_1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum asperiores quos velit quas aliquid necessitatibus maiores perferendis nisi voluptatum. Sequi maiores laudantium repellendus iure ipsa excepturi perferendis expedita incidunt id.</p>
    <p class="p_2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum asperiores quos velit quas aliquid necessitatibus maiores perferendis nisi voluptatum. Sequi maiores laudantium repellendus iure ipsa excepturi perferendis expedita incidunt id. 
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa repellat tempora commodi, magnam quo, laboriosam doloremque numquam molestias dolores incidunt maxime explicabo harum, veritatis accusantium. Reiciendis nobis neque id maxime.
    </p>
    <ul>
      <li><a href="https://www.google.com" target="_blank" class="link">Google</a></li>
      <li><a href="https://www.youtube.com" target="_blank" class="link">YouTube</a></li>
      <li><a href="https://www.github.com" target="_blank" class="link">GitHub</a></li>
    </ul>
    <table>
      <tr>
          <th class="encabezado">Columna 1</th>
          <th class="encabezado">Columna 2</th>
          <th class="encabezado">Columna 3</th>
      </tr>
      <tr class="filas_especiales">
          <td>dato 1</td>
          <td>dato 2</td>
          <td>dato 3</td>
      </tr>
      <tr class="fila_central">
          <td>dato 4</td>
          <td>dato 5</td>
          <td>dato 6</td>
      </tr>
      <tr class="filas_especiales">
          <td>dato 7</td>
          <td>dato 8</td>
          <td>dato 9</td>
      </tr>
      <tr class="fila_central">
          <td>dato 10</td>
          <td>dato 11</td>
          <td>dato 12</td>
      </tr>
  </table>
    <!-- SEGUNDA PARTE DEL TRABAJO -->
    <h1>Segunda parte del trabajo</h1>
    <div class="contenedor">
    <div class="header">
      <div class="logo"></div>
      <div class="titulo"> 
        <h3>Segundo trabajo</h3>
      </div>
      <div class="buscador">
        <section class="search-section">
          <form>
              <input type="text" placeholder="Buscardor">
          </form>
      </section>

      </div>
    </div>
    <div class="contenido_princial">
      <div class="slide-bar"></div>
      <div class="content"></div>
    </div>
    <div class="footer">
      <div class="footer_item"></div>
      <div class="footer_item"></div>
      <div class="footer_item"></div>
    </div>
  </div>
</body>
</html>
<router-outlet />
