<div class="flex align-items-center	justify-content-center flex-column">
    <h1>Formulario de Solicitud de Vacaciones</h1>
    <div class="w-6 p-3">
        <label for="">Nombre</label>
        <div class="w-full">
            <input type="text" pInputText  placeholder="Primer nombre" style="width: 49%;">
            <input type="text" pInputText  placeholder="Apellido" style="width: 49%;">
        </div>
    </div>
    <div class="flex flex-column w-6 p-3">
        <label for="">Correo electronico</label>
        <input type="text" pInputText  name="" id="">
    </div>
    <div class="flex flex-column w-6 p-3">
        <label for="">Teléfono</label>
        <input type="text" appendIcon="pi-phone" pInputText >
    </div>
</div>
