<form [formGroup] = "loginForm">

    <div>
        <p-card header="Login"  [style]="{width:'360px'}">
            
            <div class="field">
                <input type="text" pInputText formControlName="ususario"
                class="w-full" name="usuario" placeholder="User name">Jajajaj
            </div>

            <div class="field">
                <input type="text" pInputText formControlName="password"
                class="w-full" name="password" placeholder="User name">Jajajaj
            </div>

        </p-card>
    </div>

</form>

<p>login works!</p>
