<div class="flex justify-content-center align-items-center flex-column w-full" [formGroup]="dateFormFG">
    <h4>Datos de licencia</h4>
    <div class="flex flex-column w-5 p-3">
        <label for="startDate">Fecha de inicio</label>
        <div class="p-inputgroup mt-3">
            <span class="p-inputgroup-addon">
                <i class="pi pi-calendar"></i>
            </span>
            <p-calendar name="startDateNM" [style]="{'width': '100%'}" formControlName="startDateFCN" placeholder="Fecha de inicio"></p-calendar>
        </div>
    </div>
    <div class="flex flex-column w-5 p-3">
        <label for="endDate">Fecha de finalización</label>
        <div class="p-inputgroup mt-3">
            <span class="p-inputgroup-addon">
                <i class="pi pi-calendar"></i>
            </span>
            <p-calendar name="endDateNM" [style]="{'width': '100%'}" formControlName="endDateFCN" placeholder="Fecha de finalización"></p-calendar>
        </div>
    </div>
    <div class="flex flex-column justify-content-center w-5 p-3">
        <label for="notes">Notas</label>
        <div class="p-inputgroup mt-3">
            <span class="p-inputgroup-addon">
                <i class="pi pi-comment"></i>
            </span>
            <textarea 
                rows="5"
                cols="30" 
                pInputTextarea
                name="notes"
                formControlName="textAreaFCN">
            </textarea>
        </div>
    </div>
</div>
